.a{
  color: darkblue;
}

.b{
  margin-left: 20px;
}

.c{
  list-style: none;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  width: 30%;
  float: right;
  font-size: 15px;
  margin-top: -50px;
}

.g{
  position: relative;
}

.d{
  height: 60vh;
  width: 50%;
  display: block;
  margin: 100px -8px 0 auto;
}

.e{
  font-size: 70px;
  line-height: 80px;
  width: 50vw;
  margin-top: -180px;
  margin-left: -8px;

}

.f{
  background: darkblue;
  height: 25vh;
  width: 75%;
  margin-top: -70px;
  margin-left: -8px;